<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <main class="container-fluid">
      <%- include('../partials/header.ejs') %>
      <!--Administrador de productos-->
      <br />
      <section class="row">
        <article class="col-12">
          <h2 class="display-4 text-white bg-info text-center pt-2">
            Administrador de Productos
          </h2>
        </article>
        <article class="col-12">
          <a href="/products/create"
            ><ion-icon name="add-circle-outline"></ion-icon>Agregar</a
          >
        </article>
        <article class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>

            <tbody>
              <% allProductos.forEach(e => { %>
              <tr>
                <td><%= e.id%></td>
                <td><%= e.name_product%></td>
                <td>
                  <a href="/products/<%= e.id%> ">
                    <ion-icon name="eye-outline"></ion-icon
                  ></a>
                </td>
                <td>
                  <a href="/products/<%= e.id%>/edit ">
                    <ion-icon name="pencil-outline"></ion-icon
                  ></a>
                </td>
                <td>
                  <form action="/products/<%= e.id%>/delete?_method=DELETE" method="post">
                    <button type="submit">
                      <ion-icon name="trash-outline"></ion-icon>
                    </button>
                  </form>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </article>
      </section>
      <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
