<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <%- include("./partialsAdopciones/headAdopciones.ejs") %>
  <body>
    <%- include("./partialsAdopciones/headerAdopciones.ejs") %>

    <section id="product1" class="section-p1">
      <div class="pro-container">
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/sullyHamster.jpg" alt="" />
          <div class="des">
            <h5>Sully</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/blueParrot.jpg" alt="" />
          <div class="des">
            <h5>Blue</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/noriArdilla.jpg" alt="" />
          <div class="des">
            <h5>Nori</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>Hembra</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/elaHorse.jpg" alt="" />
          <div class="des">
            <h5>Ela</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>2 Años - Hembra</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/sullyHamster.jpg" alt="" />
          <div class="des">
            <h5>Sully</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/blueParrot.jpg" alt="" />
          <div class="des">
            <h5>Blue</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/noriArdilla.jpg" alt="" />
          <div class="des">
            <h5>Nori</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>Hembra</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionOtros/elaHorse.jpg" alt="" />
          <div class="des">
            <h5>Ela</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
              <i class="fas fa-solid fa-otter"></i>
            </div>
            <h4>2 Años - Hembra</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
      </div>
    </section>

    <%- include("./partialsAdopciones/galleryAdopciones.ejs") %> <%-
    include("./partialsAdopciones/formAdopciones.ejs") %> <%-
    include("./partialsAdopciones/footerAdopciones.ejs") %>
  </body>
</html>
