<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <%- include("./partialsAdopciones/headAdopciones.ejs") %>
  <body>
    <%- include("./partialsAdopciones/headerAdopciones.ejs") %>

    <section id="product1" class="section-p1">
      <div class="pro-container">
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/poluxCat.png" alt="" />
          <div class="des">
            <h5>Polux</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>4 Años - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/rumiCat.png.jpg" alt="" />
          <div class="des">
            <h5>Rumi</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>2 Meses - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/sonsoCat.png" alt="" />
          <div class="des">
            <h5>Sonso</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>3 Meses - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/tuliCat.png" alt="" />
          <div class="des">
            <h5>Tuli</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
              <i class="fas fa-solid fa-cat"></i>
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>3 Años - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/poluxCat.png" alt="" />
          <div class="des">
            <h5>Polux</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>4 Años - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/rumiCat.png.jpg" alt="" />
          <div class="des">
            <h5>Rumi</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>2 Meses - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/sonsoCat.png" alt="" />
          <div class="des">
            <h5>Sonso</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>3 Meses - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
        <div class="pro">
          <img src="/imagesAdopcion/adopcionGatos/tuliCat.png" alt="" />
          <div class="des">
            <h5>Tuli</h5>
            <span>Tamaño</span>

            <div class="star">
              <i class="fas fa-solid fa-cat"></i>
              <i class="fas fa-solid fa-cat"></i>
              <i class="fas fa-solid fa-cat"></i>
            </div>
            <h4>3 Años - Macho</h4>
          </div>
          <a href="#"><i class="fa-regular fa-house-heart house"></i></a>
        </div>
      </div>
    </section>

    <%- include("./partialsAdopciones/galleryAdopciones.ejs") %> <%-
    include("./partialsAdopciones/formAdopciones.ejs") %> <%-
    include("./partialsAdopciones/footerAdopciones.ejs") %>
  </body>
</html>
