<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <div class="agregarProducto">
      <form
        action="/products/create"
        method="POST"
        class="form-register "
        enctype="multipart/form-data"
      >
        <h1 class="form__title">Agregar nuevo producto</h1>

        <div class="container--flex">
          <label for="" class="form__label">Nombre del producto:</label
          ><input
            type="text"
            class="form__input form-control"
            name="name"
            placeholder="p.ejemplo: Pedigre Premium"
          />
          <span></span>
          <% if (locals.errors && errors.name) { %>
            <div class="text-danger"><%= errors.name.msg %></div>
          <% } %>
        </div>
        
        <div class="container--flex">
          <label for="" class="form__label">Descripción del producto:</label
          ><input
            type="text"
            class="form__input form-control"
            name="descriptions"
            placeholder="p.ejemplo: Alimento para perros a base de pollo"
          />
          <span></span>
          <% if (locals.errors && errors.descriptions) { %>
            <div class="text-danger"><%= errors.descriptions.msg %></div>
          <% } %>
        </div>

        <div class="container--flex">
          <label for="" class="form__label">Tamaños disponibles:</label>
          <ul>
            <li><label>Tamaño:</label><input class="form-control" type="text" name="size" /> <span></span></li>
            <li><label>Stock:</label> <input class="form-control" type="number" name="stock" /> <span></span></li>
            <li><label>Precio:</label> <input class="form-control" type="number" name="price" /> <span></span></li>
          </ul>
        </div>

        <div class="container--flex">
          <label for="" class="form__label">Marca del producto:</label>

          <select name="brand">
            <option value="" disabled selected>- Seleccione la Marca -</option>
            <% allBrands.forEach(element=>{%>
            <option value="<%=element.id%>"><%= element.name%></option>
            <% }) %>
          </select>

          <% if (locals.errors && errors.brand) { %>
            <div class="text-danger"><%= errors.brand.msg %></div>
          <% } %>

        </div>
        <div class="container--flex">
          <label for="" class="form__label">Categoria:</label>

          <select name="category">
            <option value="" disabled selected>- Seleccione la categoria -</option>
            <% allCategories.forEach(element=>{ %>
            <option value="<%= element.id %>"><%= element.name%></option>
            <% }) %>
          </select>


          <% if (locals.errors && errors.category) { %>
            <div class="text-danger"><%= errors.category.msg %></div>
          <% } %>

        


        </div>
        <!-- <div class="container--flex">
          <label for="" class="form__label">Tamaños disponibles:</label>
allBrands is not defined

          <ul>
            <li>
              <label>Tamaño:</label>
              <input type="text" name="size2" />
            </li>
            <li><label>Stock:</label> <input type="number" name="stock2" /></li>
            <li>
              <label>Precio:</label> <input type="number" name="price2" />
            </li>
          </ul>
        </div> -->
        <a href="">Agregar nuevo tamaño</a>

        <div class="container--flex">
          <label for="" class="form__label">Foto del producto:</label
          ><input type="file" class="form__file form-control" name="image" />
          <span></span>
          <% if (locals.errors && errors.image) { %>
            <div class="text-danger"><%= errors.image.msg %></div>
          <% } %>
        </div>
        <div class="container--flex">
          <input type="submit" class="form__submit" />
          
          <a href="/admin"
            ><input type="button" class="form__submit" value="Volver"
          /></a>
        </div>
      </form>
    </div>
    <script src="/js/productJs.js"></script>
    <%- include('../partials/footer') %>
  </body>
</html>
