<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <div class="agregarProducto">
      <form
        action="/products/<%= product.id %>/edit?_method=PUT"
        method="POST"
        class="form-register"
        enctype="multipart/form-data">
        <h1 class="form__title">
          Editar producto <%= product.name_product %>:
        </h1>

        <div class="container--flex">
          <label for="" class="form__label">Id del producto:</label
          ><input
            type="text"
            disabled="»disabled»"
            class="form__input"
            name="id"
            placeholder="p.ejemplo: Pedigre Premium"
            value="<%= product.id %>"
            required
            block />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Nombre del producto:</label
          ><input
            type="text"
            class="form__input"
            name="name"
            placeholder="p.ejemplo: Pedigre Premium"
            value="<%= product.name %>"
            required />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Descripción del producto:</label
          ><input
            type="text"
            class="form__input"
            name="descriptions"
            placeholder="p.ejemplo: Alimento para perros a base de pollo"
            value="<%= product.descriptions %>"
            required />
        </div>
        <div class="container--flex"></div>
        <div class="container--flex">
          <label for="" class="form__label">Marca del producto:</label>

          <select name="brand">
            <option value="" disabled selected>- Seleccione la Marca -</option>
            <% allBrands.forEach(bra=>{ %>
            <option value="<%= bra.id %>"><%= bra.name%></option>
            <% }) %>
          </select>
        </div>
        <div class="container--flex">
          <select name="category">
            <option value="" disabled selected>
              - Seleccione la categoria -
            </option>
            <% allCategories.forEach(cat=>{ %>
            <option value="<%= cat.id %>"><%= cat.name%></option>
            <% }) %>
          </select>
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Tamaño:</label
          ><input
            type="text"
            class="form__input"
            name="size"
            placeholder="p.ejemplo: 1kg - 3kg - 5kg"
            value="<%= product.size %>"
            required />
        </div>
        <input type="hidden" name="oldImagen" value="<%= product.image %>" />
        <div class="container--flex">
          <label for="" class="form__label">Foto del producto:</label
          ><input type="file" class="form__file" name="image" />
          <img
            style="width: 100px"
            src="images/product/<%= product.image %>"
            alt="" />
        </div>
        <div class="container--flex">
          <label for="" class="form__label">Precio:</label
          ><input
            type="text"
            class="form__input"
            name="price"
            placeholder="1500"
            value="<%= product.price %>"
            required />
        </div>
        <div class="container--flex">
          <input type="submit" class="form__submit" value="Actualizar" />
          <a href="/admin"
            ><input type="button" class="form__submit" value="Volver"'/></a
          >
        </div>
      </form>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
