<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img
          src="/images-back/productos/<%=product.image %>"
          width="100%"
          id="MainImg"
          alt=""
        />
      </div>
      

      <div class="single-pro-details">
        <h4><%= product.name%></h4>
        <% pesos.forEach(p=>{ %>
        <h2>$<%= p.price%> </h2>
        <% }) %>


        <select>
          <option value="" disabled selected>- Seleccione el peso -</option>
          <% pesos.forEach(p=>{ %>
          <option value="<%= p.id %>"><%= p.size%></option>
          <% }) %>
        </select>

        <input type="number" value=""/>
        

        <button class="normal">Add To Cart</button>
        <h4>Detalles del Producto</h4>
        <span><%= product.descriptions%></span>

      </div>
    </section>

    <%- include('../partials/footer') %>
  </body>
</html>
