<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img
          src="/images/product/<%= product.image %>"
          width="100%"
          id="MainImg"
          alt=""
        />
      </div>

      <div class="single-pro-details">
        <h4><%= product.name%></h4>
        <% pesos.forEach(p=>{ %>
        <h2>$<%= p.price%> </h2>
        <% }) %>


        <select>
          <option value="" disabled selected>- Seleccione el peso -</option>
          <% pesos.forEach(p=>{ %>
          <option value="<%= p.id %>"><%= p.size%></option>
          <% }) %>
        </select>

        <input type="number" value=""/>
        

        <button class="normal">Add To Cart</button>
        <h4>Detalles del Producto</h4>
        <span><%= product.descriptions%></span>

      </div>
    </section>

    <footer>
      <div class="footer-category">
        <p><strong>Categorias</strong></p>
        <ul>
          <li>
            <a href="#">Perros <i class="fa-solid fa-dog"></i></a>
          </li>
          <li>
            <a href="#">Gatos <i class="fa-solid fa-cat"></i></a>
          </li>
          <li>
            <a href="#">Alimentos <i class="fa-solid fa-bone"></i></a>
          </li>
          <li>
            <a href="#">Juguetes <i class="fa-solid fa-shield-dog"></i></a>
          </li>
          <li>
            <a href="#">Adopción <i class="fa-solid fa-paw"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-fee">
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <i class="icons-footer fa-solid fa-credit-card"></i>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-solid fa-money-bill"></i>
      </div>
      <div class="footer-contacts">
        <p><strong>Contáctanos</strong></p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li>
            <a
              href="mailto:moiseszuleta02@hotmail.com;juan.solis.trabajo@gmail.com;valentinlanzillotta@hotmail.com;andrea.aguah@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p>Copyright © 2022 Petparadise S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
